<body>
  <script src="cart.js" async></script>
  <section class="container content-section">
    <h2 class="section-header">Productos/ Products</h2>
    <div class="shop-items">
      <div class="shop-item">
        <span class="shop-item-title">Adeka</span>
        <img class="shop-item-image" src="http://alvezinc.es/imagenes/productos/adeka.jpg">
        <div class="shop-item-details">
          <span class="shop-item-price">$20</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Cumbrera</span>
        <img class="shop-item-image" src="http://alvezinc.es/imagenes/productos/cumbreraadeka.jpg">
        <div class="shop-item-details">
          <span class="shop-item-price">$25</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Limatesa</span>
        <img class="shop-item-image" src="http://alvezinc.es/imagenes/productos/limatesaadeka.jpg">
        <div class="shop-item-details">
          <span class="shop-item-price">$15</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Remate Superior</span>
        <img class="shop-item-image" src="http://alvezinc.es/imagenes/productos/rematesuperioralzada.jpg">
        <div class="shop-item-details">
          <span class="shop-item-price">$30</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
    </div>
  </section>
  <section class="container content-section">
    <div class="shop-items">
      <div class="shop-item">
        <span class="shop-item-title">Membrana de interposicion</span>
        <img class="shop-item-image" src="http://alvezinc.es/imagenes/productos/membrana.jpg">
        <div class="shop-item-details">
          <span class="shop-item-price">$30</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Lagrimero</span>
        <img class="shop-item-image" src="http://alvezinc.es/imagenes/productos/lagrimeroestructural.jpg">
        <div class="shop-item-details">
          <span class="shop-item-price">$10</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
    </div>
  </section>
  <section class="container content-section">
    <h2 class="section-header">Carrito/ Cart</h2>
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">ITEM</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
      <strong class="cart-total-title">Total</strong>
      <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="submit">PURCHASE</button>
  </section>
  <p>If Cart does not work reload the page/ Si el carrito no funciona recarga la pagina</p>
</body>